<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Contact Us</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>        Liked our work contact us on</p>
      <div>
        <a href="mailto:immanuelpatrika@gmail.com"><i class="far fa-envelope fa-2x"style="margin-right:30px;color:	#666F6F;"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100016519233248"><i class="fab fa-facebook fa-2x" style="margin-right:30px;color:	#666F6F;"></i></a>
        <a href="http://instagram.com/immanuelmagazine"><i class="fab fa-instagram fa-2x" style="margin-right:30px;color:	#666F6F;"></i></a>
        <a href="https://twitter.com/ImmanuelMagazi1?s=08"><i class="fab fa-twitter fa-2x" style="margin-right:5px; color:	#666F6F;"></i></a>
      </div>
    </div>
  </div>